{% load staticfiles %}

<div class="container d-none d-lg-block">
    <div class="card border-0">
        <img src="{% static 'images/avatar.png' %}" class="card-img-top mt-4" alt="avatar"
            style="border-radius: 4px; width:120px;padding:5px;border:1px solid #ddd;display:block;margin-left:auto;margin-right:auto;" />
        <div class="card-body">
            <div class="col-12">
                <p class="text-center mb-4">your blog</p>
            </div>
            <div class="row">
                <div class="col-3 text-center">
                    <span style="font-size: small;">{{ stats.article_count }}</span>
                </div>
                <div class="col-6 text-center">
                    <span style="font-size: small;">{{ stats.category_count }}</span>
                </div>
                <div class="col-3 text-center">
                    <span style="font-size: small;">{{ stats.tag_count }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-center text-nowrap">
                    <a style="color: #5b5b5b; font-size: small;" href="{% url 'article:article_list' %}">posts</a>
                </div>
                <div class="col-6 text-center">
                    <a style="color: #5b5b5b; font-size: small;"
                        href="{% url 'article:article_categories' %}">categories</a>
                </div>
                <div class="col-3 text-center text-nowrap">
                    <a style="color: #5b5b5b; font-size: small;" href="{% url 'article:article_tags' %}">tags</a>
                </div>
            </div>
        </div>
    </div>

    {% if toc %}
    <div class="card border-0" style="margin-top:20px">
        <div class="text-center">
            <h2 style="font-size: 18px; margin-top: 20px; margin-bottom:20px">Table of Contents</h2>
        </div>
        <div style="margin-left:20px;" id="tocBlock">
            {{ toc|safe }}
        </div>
    </div>
    {% endif %}

</div>