{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="mt-4 row">
        <div class="col-lg-8">
            <h4 class="text-center">Categories</h4>
        </div>
        <div class="col-lg-8">
            <p class="text-center">
            {% with total=category_post_count|length  %}
            {{ total }} categor{{ total|pluralize:"y,ies" }}
            {% endwith %}
            in total </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <ul class="list-group list-group-flush">
                {% for key,value in category_post_count.items %}
                <li class="list-group-item">
                    <a style="color: #5b5b5b; text-decoration: underline; " class="mx-4"
                        href="{%url 'article:article_list' %}?category={{ key }}">
                        {{ key }}&nbsp;({{ value }})
                    </a>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}